<!--記事の削除画面画面-->
<div class="contents-row">
    <%= form_tag("/blogs/#{@blog.id}", method: :patch) do %>
        <div class="send-form">
            <p class="guide">本文</p>
            <textarea style="border:none" name="text"  rows="5" cols="150" class="textarea"><%= @blog.text %></textarea>
        </div>
             <input type="submit" value="送信" class="send">
    <% end %>
</div>