<!--記事の新規作成画面-->
<div class="contents-row">
    <%= form_tag('/blogs', method: :post) do %>
        <div class="send-form">
            <p class="guide">本文</p>
            <textarea style="border:none" name="text"  rows="5" cols="150" class="textarea"></textarea>
        </div>
        <input type="submit" value="送信" class="send">
    <% end %>
</div>

