.edit-user-info-box{
    height: 150px;
    border: 1px black solid;
    box-sizing: border-box;
    margin: 100px 20px 0px 20px;
}

.user-info-chg{
    padding: 20px; 
}

.user-info-button{
    margin: 10px 0px 10px 470px;
}