.content-post{
    width: 1000px;
    margin: 0px 0px 70px 70px;
    padding: 30px 20px 10px 20px;
    box-sizing: border-box; 
    border: thin solid black;
    border-bottom: solid 3px;
    border-radius: 2px;
    }
    
.content-menu{
    padding: 30px 0px;    
}
    
.content-menu-list{
  display: inline-block;
  padding: 0.5em 2em;
  text-decoration: none;
  background: #009966;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.content-menu-list:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}